.gpt3__brands {
  color: #fff;
}

.gpt3__brands-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.gpt3__brands-container img {
  width: 6rem;
  margin: 0.5rem 2rem;
}

@media screen and (max-width: 1050px) {
  .gpt3__brands-container img {
    width: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .gpt3__brands-container img {
    width: 3.4rem;
  }
}

@media screen and (max-width: 490px) {
  .gpt3__brands-container img {
    width: 2.6rem;
  }
}
