.gpt3__cta {
  /* color: white; */
  font-family: var(--font-family);
}

.gpt3__cta-container {
  background: var(--gradient-bar);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 3.5rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gpt3__cta-content {
  margin-right: 2rem;
}

.gpt3__cta-content p {
  line-height: 1.8rem;
  font-size: 0.75rem;
}

.gpt3__cta-content h3 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2.8rem;
}

button {
  width: 11.821rem;
  height: 3.71238rem;
  flex-shrink: 0;
  color: white;
  background-color: black;
  border-radius: 2.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.8rem;
  cursor: pointer;
  border: none;
}

@media screen and (max-width: 1050px) {
  button {
    width: 8rem;
    font-size: 1rem;
  }

  .gpt3__cta-content h3 {
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  .gpt3__cta-container {
    padding: 2rem;
  }
}

@media screen and (max-width: 760px) {
  .gpt3__cta-container {
    flex-direction: column;
  }

  .gpt3__cta-content {
    margin: 0 0 2rem 0;
  }
}
