.gpt3__blog {
  color: white;
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
}

.gpt3__blog-heading {
  width: 100%;
  text-align: left;
  margin-bottom: 5rem;
}

.gpt3__blog-heading h1 {
  font-size: 3.8rem;
  font-weight: 800;
  line-height: 4.6rem;
}

.gpt3__blog-container {
  display: flex;
}

.gpt3__blog-container__groupA {
  flex: 0.75;
  margin-right: 2rem;
}

.gpt3__blog-container__groupB {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
  .gpt3__blog-container {
    flex-direction: column-reverse;
  }
  .gpt3__blog-container__groupA {
    margin: 2rem 0;
  }

  .gpt3__blog-container__groupA .gpt3__article-container {
    width: 48%;
  }

  .gpt3__blog-container__groupA .gpt3__article-image {
    width: 15.6rem;
  }
}

@media screen and (max-width: 700px) {
  .gpt3__blog-container__groupB {
    grid-template-columns: repeat(1, 1fr);
  }

  .gpt3__blog-container__groupA .gpt3__article-container {
    width: 100%;
  }

  .gpt3__blog-heading h1 {
    font-size: 2rem;
    line-height: 2.4rem;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__blog-heading h1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
